body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6; /* gray-100 */
    /* overflow: hidden;
  height: 100vh; */
}
.chart-container {
    position: relative;
    height: 300px;
    width: 100%;
}
.blur-bg {
  position: absolute;
  inset: 0;
  background-image: url('https://drive.google.com/uc?export=view&id=14bdJYnRfatq9P1uohCQvH6zeCP1LAfur/');
  background-size: cover;
  background-position: center;
  filter: blur(4px) brightness(0.7); /* blur + darken */
  z-index: -1;
  /* opacity: 0.6; Adjust opacity as needed */
}
.card {
    background-color: white;
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-lg */
    padding: 1.5rem; /* p-6 */
    transition: all 0.3s ease-in-out;
}
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3b82f6; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 1rem auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
.glass-container {
  background: rgba(255, 255, 255, 0.08);   /* translucent */
  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);
  border: 1px solid rgba(255, 255, 255, 0.25);

}
